body {
    font-family: Arial, sans-serif;
    background-color: rgb(46, 133, 104);
    margin: 0;
}

header {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 0;   
    color: white;
    padding: 10px 20px;
}

header h1 {
    margin-right: 150px;
      font-weight: 700;
}

header .header-right h3 {
    margin: 0;
}

main {
    margin-top: 20px;
}

.container-main{
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 20px 0 20px;
    gap: 3%;
}

.dicas{
    background-color:#aaa;
    border-radius: 10px;
    width: 60%;
    height: 75vh;
    padding: 15px;
    color: black;
    
}

h2 {
    color: #333;
}

h4 {
    margin: 10px 0;
}

.ipts {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resultado {
    margin-top: 20px;
}

.cruzadinha-row {
    display: flex;
    justify-content: center;
}

.fundo-cruzada{
    background-color:#e9e9e9;
    border-radius: 10px;
    width: 60%;
    height: 50%;
}

.cruzadinha-cell {
    width: 32px;
    height: 32px;
    margin: 2px;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #fff;
    text-transform: uppercase;
    transition: background 0.2s;
    box-sizing: border-box;
    padding-left: 14px; /* espaço para o número */
}

.cruzadinha-cell:disabled {
    background: #eee;
    border: 1px solid #fff;
}

#cruzadinha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
}

button {
    margin-top: 16px;
    padding: 8px 24px;
    font-size: 1em;
    border-radius: 4px;
    border: none;
    background: green;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #005fa3;
}